:root {
  --white: #ffffff;
  --black: #000000;
  --darkgrey: #222222;
  --grey: #333333;
  --lightgrey: #444444;
  --lightergrey: #666666;
  --lightestgrey: #e5e5e5;
  --orange: #ff5000;
  --red: #cc2020;
  --redinv: #cc202059;
  --header: #33333359;
  --null: #00000000;
}
